<!-------for All india cases-------->
{% extends 'base.html' %}

{% block body %}

<!------- Footer----->
<section class="footer">
	<h4>About Us</h4>
		<p>The Indian Government classified domestic violence shelter and support services 
	as “essential” – an important step in COVID-19 response. During the first and second waves of the pandemic, 
	700 One-Stop-Crisis centres remained open in India, supporting over 300,000 women who suffered abuse 
	and needed shelter, legal aid and medical attention.The current draft of the anti-trafficking bill that will be tabled soon 
	in the Parliament is another welcome step, as it is set to increase penalties for perpetrators 
	and make reporting of such crimes mandatory.
		</p>
			<div class="icons">
				<i class="fa fa-facebook"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-Linkedin"></i>
			</div>
			<p>Made with<i class="fa fa-heart-o"></i>By CSE Student</p>
				
</section>

{% endblock %}