<!---------Testimonial------>
{% extends 'base.html' %}

{% block body %}
	<h1>What Our People Says</h1>
		<p>Leaves The Replys</p>
			<div class="row">
				<div class="testimonial-col">
					<img src="{{url_for('static', filename='img/user4.jpg')}}">
					<div>
					<p>There is now real hope that vaccines will help end the pandemic. But until it is over, 
					we must stay vigilant and continue to protect our loved ones by wearing masks, 
					physically distancing and washing our hands.</p>
					<h3>Bhart Gawande</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					</div>
				</div>
				<div class="testimonial-col">
					<img src="{{url_for('static', filename='img/user2.jpg')}}">
					<div>
					<p>There is now real hope that vaccines will help end the pandemic. But until it is over, 
					we must stay vigilant and continue to protect our loved ones by wearing masks, 
					physically distancing and washing our hands.</p>
					<h3>Soniya Gargi</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					</div>
				</div>
				<div class="testimonial-col">
					<img src="{{url_for('static', filename='img/user1.jfif')}}">
					<div>
					<p>There is now real hope that vaccines will help end the pandemic. But until it is over, 
					we must stay vigilant and continue to protect our loved ones by wearing masks, 
					physically distancing and washing our hands.</p>
					<h3>Ayush sharma</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					</div>
				</div>
				<div class="testimonial-col">
					<img src="{{url_for('static', filename='img/user3.jpg')}}">
					<div>
<p>There is now real hope that vaccines will help end the pandemic. But until it is over, 
					we must stay vigilant and continue to protect our loved ones by wearing masks, 
					physically distancing and washing our hands.</p>
					<h3>Sanchita Kale</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					</div>
				</div>
			</div>
		
</section>
{% endblock %}