<!-------for All india cases-------->
{% extends 'base.html' %}

{% block body %}
	<div class="text-box">
		<h1>Cases Of Maharashtra</h1>
			<p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.<br>
Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. <br>However, some will become seriously ill and require medical attention.
			</p>
<a href="https://arogya.maharashtra.gov.in/1175/Novel--Corona-Virus" class="hero-btn">>Visit Us to know more</a>
	</div>
</section>

{% endblock %}