
<nav> 
    <a href="/"><img src ="{{url_for('static', filename='img/logo2.jpg')}}"></a>
        <div class = "nav-links" id="navLinks">
            <i class="fa-solid fa-xmark"onclick="hideMenu()"></i>
            <ul>
<li><a href="/"><font color = "red" size = "4px" background-color="#33475b"><b>Home</b></font></a></li>
    <li><a href="/about"><font color = "white" size = "4px">About</font></a></li>
    <li><a href="/blog"><font color = "white" size = "4px">Blog</font></a></li>
    <li><a href="/contactus"><font color = "white" size = "4px">Contact</font></a></li>
                </ul>
        </div>
            <i class="fa fa-bars"onclick="showMenu()"></i>
</nav>